wandb~=0.12.9

# models

transformers~=4.18.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.2+cu113
protobuf==3.19.4

# data
datasets~=1.17.0
ndjson==0.3.1

## data cleaning
spacy>=3.1.4,<=3.3.0
datasketch>=1.5.6,<1.6.0

# utility
wasabi>=0.9.0,<0.10.0
pydantic~=1.8.2

# testing
pytest~=6.2.5


# domain filtering
pysafebrowsing==0.1.1
asyncio==3.4.3
aiohttp==3.8.1